# 가상 환경
venv/
.env/
.env

# 파이썬 컴파일 파일
*.pyc
__pycache__/
.ipynb_checkpoints


# 데이터베이스
db.sqlite3

# 미디어 파일
media/

# 데이터 변수 파일
data/
datasets/
cache/


# Model 및 관련 파일
hugging/my-imdb-model
hugging/results
detect/models
detect/runs

# IDE 설정 파일
.idea/
.vscode/

42.데이터전처리.ipynb
Walmart/데이터 분석보고서_Walmart_Sales.pptx
Walmart/walmart-black-friday-sales-eda.ipynb


