# 이름 끝에 슬래시(/)를 붙이는 것은 '디렉토리(폴더)'를 의미
# 파일명 지정 시 모든 디렉토리에 있는 파일 무시
# 가상 환경
venv/
.env

# 파이썬 컴파일 파일
*.pyc
__pycache__/
.ipynb_checkpoints


# 데이터베이스
db.sqlite3
.langchain.db

# 미디어 파일
media/

# 데이터 변수 파일
data/
datasets/
cache/
temp


# Model 및 관련 파일
hugging/my-imdb-model
hugging/results
detect/models
detect/runs

# IDE 설정 파일
.idea/
.vscode/

42.데이터전처리.ipynb
Walmart/데이터 분석보고서_Walmart_Sales.pptx
Walmart/walmart-black-friday-sales-eda.ipynb

